@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

$DarkGray: #2b2b2b;
$lightkGray: #969696;
$white: #ffffff;
$black: #000000;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
}

main{
    header{
        width: 100%;
        height: 300px;
        background: url(../img/pattern-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        position: relative;
        z-index: -1;

        .title-section{
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
            height: fit-content;

            h1{
                font-size: 1.5rem;
                font-weight: 500;
                color: $white;
            }

            .search-section{
                width: 70%;
                height: 50px;
                margin: 30px auto;
                background: $white;
                display: flex;
                align-items: center;
                border-radius: 10px;

                input{
                    flex-basis: 88%;
                    background: none;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    padding: 0 20px;
                    color: $black;
                    font-weight: 700;

                    &::placeholder{
                        color: $lightkGray;
                        font-weight: 400;
                        font-size: 16px;
                    }
                }

                .img-section{
                    width: 100%;
                    height: 100%;
                    flex-basis: 12%;
                    background: $black;
                    border-radius: 0 10px 10px 0;
                    cursor: pointer;

                    &:hover{
                        background: $DarkGray;
                    }

                    img{
                        margin-top: 18px;
                    }
                }
            }
        }
    }

    .address-detail-section{
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        border-radius: 20px;
        background: $white;
        padding: 30px;
        margin-top: -80px;
        
        .ip-address{
            flex-basis: 25%;
            padding: 0 40px;

            h3{
                color: $lightkGray;
                font-size: .9rem;
                font-weight: 500;
            }

            h2{
                font-size: 1.4rem;
                font-weight: 500;
                margin-top: 10px;
            }
        }

        .location{
            @extend .ip-address;
            border-left: 2px solid rgba(150, 150, 150,0.2);
        }

        .time{
            @extend .ip-address;
            border-left: 2px solid rgba(150, 150, 150,0.2);
        }

        .isp{
            @extend .ip-address;
            border-left: 2px solid rgba(150, 150, 150,0.2);
        }
    }
}